<!-- header start -->

<!--a href="http://contrafabulists.com" class="logo-readium"><span class="logo" style="background-image: url(https://contrafabulists-toolbox.github.io/master/images/cog_tr.png)"></span></a-->

<!-- header end -->


<!-- content start -->

<div class="page-content">
  <div class="wrapper">

<div class="teaserimage">
    <div class="teaserimage-image" style="background-image: url(https://raw.githubusercontent.com/bigpianist/musictechvc/master/assets/images/soundwave.jpg")>
        Teaser Image
    </div>
</div>

<header class="blog-header">

      <a class="blog-logo" href="http://contrafabulists.com" style="background-image: url('https://contrafabulists-toolbox.github.io/master/images/cog.jpg')">Music Tech VC Firms</a>

    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
      This page maintained by 
      <!--edit your nav here-->
      <a href="http://arconamusic.com">Arcona</a>&nbsp;&nbsp;·&nbsp;&nbsp;
      <!--edit your nav here-->

    </div>
</header>
